.Burger{
  margin: auto;
  width: 100%;
  height: 250px;
  text-align: center;
  font-size: 1.4rem;
  overflow: scroll;

}

@media (min-width: 1000px) and (min-height: 700px){
  .Burger{
    height: 600px;
    width: 700px;
  }
}

